@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* html {
    scroll-behavior: smooth;
} */

body {
    background: #0a2a43;
    font-family: 'Poppins', sans-serif;
}

.content {
    display: none;
    position: relative;
    width: 100%;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0a2a43,transparent);
    z-index: 100;
}

.container_info {
    padding: 100px;
    color: #fff;
}

.container_info h2 {
    font-size: 40px;
}

.container_info p {
    text-align: left;
    font-size: 1.2rem;
    line-height: 30px;
}

#bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#moon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#cloud1 {
    position: absolute;
    top: 100px;
    left: 0;
    max-width: 600px;
    z-index: 100;
}

#cloud2 {
    position: absolute;
    top: 100px;
    right: 0;
    max-width: 600px;
    z-index: 100;
}

#jet {
    position: absolute;
    top: 50px;
    left: 150px;
    max-width: 100%;
    z-index: 100;
    transform: scale(0);
}

#ironman {
    position: absolute;
    top: 110%;
    max-width: 100%;
    z-index: 100;
}

@media screen and (max-width: 768px) {
    #jet {
        left: -200px;
        top: 250px;
    }
}
/* ================================= LOADER =============================== */

.downloader {
    width: 100vw;
    height: 100vh;
    background-color: #0d0d0d;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    text-align: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    position: relative;
    width: 200px;
}

.loader p {
    font-size: 40px;
    font-weight: 400;
    color: #f60d54;
}

.loader h1 {
    font-size: 55px;
    margin-top: -10px;
}

.loader hr {
    background: #f60d54;
    height: 2px;
    border: none;
    width: 0%;
}




